@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'poppins' , sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
#img img{
    width: 32rem;
}
#calculadora{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#titulo{
    font-size: 2.25rem;
    position: relative;
}
#titulo::after{
    position: absolute;
    content: '';
    background-color: #9932cc;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}
.allinputs label{
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}
.campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
}
.campos span,
.campos i{
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem;
}
.campos input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}
.campos input::-webkit-outter-spin-button,
.campos input::-webkit-inner-spin-button{
    appearance: none;
}
.campos input:focus{
    outline: none;
}
#calcular{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #9932cc;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
}
#resultado{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}
#imc{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}
#imc span:last-child{
    font-size: 0.75rem;
    color: #cbd5e1;
}
#descricao{
    width: 15.5 rem;
}
#maisinfos{
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}
#maisinfos a{
    color: #9932cc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    transition: color 0.5s;
}
#maisinfos a:hover{
    color: #cbd5e1;
}
.hidden{
    display: none;
}
.normal{
    color: #32cc47;
}
.cuidadonaomininu{
    color: #dc2626;
}